tests/data/ext4.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/ext4_sparse.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/ext4_symlink_test1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/ext4_symlink_test2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/ext4_symlink_test3.bin.gz filter=lfs diff=lfs merge=lfs -text
